<header class="row global-header">
	<nav class="small-12 small-centered medium-8 medium-centred large-5 large-centered columns">
		<%= link_to "TODO Lists", todo_lists_path %></li>
		<% if logged_in? %>
			<%= link_to "Log Out", logout_path, method: :delete %></li>
		<% else %>
			<%= link_to "Log In", new_user_session_path %>
			<%= link_to "Sign Up", new_user_path %>
		<% end %>
	</nav>
</header>
